.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.dice_roller {
  display: inline-block;
  width: 100px;
  margin-top: 50px;
  background-color: #9c060c;
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
}

.dice_roller:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.dice_roller:active {
  transform: translateY(4px);
}

body {
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

h2 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ecca3;
  visibility: hidden;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
