<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/images/book.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top text-body"
      />
      Book Notes
    </a>
    <div class="navbar">
      <form class="d-flex" method="get" action="/new">
        <button class="btn btn-outline-success" type="submit">New Book</button>
      </form>
    </div>
  </div>
</nav>
